@currency:registry=https://currencycap.pkgs.visualstudio.com/_packaging/currencyCap/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 10/29/2019.
; begin auth token
//currencycap.pkgs.visualstudio.com/_packaging/currencyCap/npm/registry/:username=currencyCap
//currencycap.pkgs.visualstudio.com/_packaging/currencyCap/npm/registry/:_password=${NPMRC_AUTH_TOKEN}
//currencycap.pkgs.visualstudio.com/_packaging/currencyCap/npm/:username=currencyCap
//currencycap.pkgs.visualstudio.com/_packaging/currencyCap/npm/:_password=${NPMRC_AUTH_TOKEN}
; end auth token
